*{ margin: 0; padding: 0; }*
html { display: block;}
body { font: .74em Kaiti, Arial, "Trebuchet MS", Tahoma, sans-serif; line-height: 1.64em; background: #fff; color: #444; }
a { color: #299DCA;	background: inherit; text-decoration: none; }
a:hover { color: #808080; background: inherit; }
h1 { font: normal 2.4em Georgia, Arial, Sans-Serif; margin: 15px 0 0 5px; }
#content { width: 920px; height: auto; margin: 0 auto; }

/*--------feat_prod_box-----------*/
p{padding:5px 0 5px 0;margin:0px;text-align:justify;line-height:19px;}

.feat_prod_box { height: 180px;padding: 10px 0 10px 10px; margin: 0 20px 20px 0; border-bottom: 1px #b2b2b2 dashed; clear: both;}
.prod_img { float: left; padding: 0 5px 0 0; text-align: center;}
.prod_det_box{background:url(../images/new_prod_box.jpg) no-repeat center;width:385px;height: 130px; float:left; padding:15px 0 0 25px; position:relative;}
.prod_title { color: #f8981d; padding: 5px 0 0 5px; font-size: 13px;}
p.details { padding: 5px 30px 5px 5px; font-size: 13px; margin: 0px; text-align: justify; line-height: 19px;}

.new_prod_box { float: left; text-align: center; padding: 25px;}
.new_prod_box a { padding: 5px 0 5px 0; color: #b5b5b6; text-decoration: none; display: block;}
.new_prod_bg { width: 132px; height: 175px; text-align: center; background: url(../images/prod_box.jpg) no-repeat center; position: relative;}
img.thumb {padding: 10px 0 0 0;}

.title{ color:#734633; padding:0px; float:left; font-size:25px; margin:10px 0 10px 0; }
span.title_icon{ float:left; padding:0 5px 0 0;}
.feat_prod_box_details{ padding:10px 0 10px 0; margin:0 20px 10px 0; clear:both; }
.prod_det_box_details{ width:385px; float:left; padding:0 0 0 25px; position:relative; }
.box_top_details{ width:435px; height:9px; background:url(../images/box_top.jpg) repeat-x center bottom; }
.box_center_details{ width:435px; height:180px; background:url(../images/box_center.jpg) repeat-y center; }
.box_bottom_details{ width:435px; height:9px; background:url(../images/box_bottom.jpg) repeat-x center top; }

.forum {width:580px; margin: 30px 0px 200px 0px; float: left; }

#logo { float: left; border-bottom: 5px solid #7DD0F1; height: 58px; width: 500px; }
	h1 { color: #299DCA;	background: inherit; text-decoration: none; }
#menu { float: right; width: 420px; padding: 10px 0; margin: 19px 0 5px; border-bottom: 5px solid #e0e0e0; }
#menu li { font-size: 1.1em; display: inline; }
#menu li a { padding: 17px 15px 0 10px; margin: 0 45px 0 0; background: #fff url(../images/menuarrow.jpg) no-repeat 10px 5px; color: #808080; border-left: 1px solid #e0e0e0; }
#menu li a:hover { color: #000; border-left: 1px solid #7DD0F1; }
#intro { clear: both; background: #ccc url(../images/teaser.jpg) no-repeat; color: #333; height: 150px; padding: 35px 0 0 20px; }
	#intro h1 { margin: 0; background: #666666 url(../images/h1bg.jpg) repeat-x bottom; display: inline;  color: #7DD0F1; padding: 2px 5px; }
	#intro p { margin: 0; color: #808080; font-weight: bold; font-size: .9em; }
	#login { font-size: .9em; margin: 45px 0 0; }
	#login a { color: #616161; background: #8BE1FA; padding: 4px 20px 6px; border-bottom: 1px solid #616161; }
	#login a:hover { color: #fff; background: #8BE1FA url(images/loginhover.gif) no-repeat; }
#main { clear: left; float: left; width: 550px; height: auto; padding: 0 34px 0 5px; margin: 15px 0 15px; }
	
	
#about { position: relative; top: -80px; margin: 0 15px 0 0; padding: 15px; float: right; width: 284px; font-size: 13px; background: #fff; }
	#about h2 { border-bottom: 1px solid #ccc; padding: 0 0 10px; }
	p { text-indent:24px;}

#footer { clear: both; border-top: 1px solid #ccc; padding: 10px; margin: 0 0 5px; font-size: .9em; color: #9b9b9b; background: #fff; }
	#footer a { color: #808080; background: #fff; font-weight: bold; }